<div style="margin-top:70px;"></div>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#">
				<%= title %>
			</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="active">
						<a href="#">Home</a>
					</li>
					<li>
						<a href="/config-remotes">ConfigRemotes</a>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>

<div class="container">


	<!-- Main hero unit for a primary marketing message or call to action -->



	<!-- <div class="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title">Modal title</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body">
				  <p>Modal body text goes here.</p>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-default">Save changes</button>
				  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			  </div>
			</div>
		  </div>

		<button type="button" data-toggle="modal" data-target="#exampleModal">
			Launch demo modal
		</button> -->


	<!-- <button class="btn btn-default">Default<div class="ripple-container"></div></button> -->
	<!-- *********************************************************	 -->
	<div class="card card-nav-tabs">
		<div class="header header-info">
			<!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
			<div class="nav-tabs-navigation">
				<div class="nav-tabs-wrapper">
					<ul class="nav nav-tabs" data-tabs="tabs">

						<li class="active">
							<a href="#general" data-toggle="tab" aria-expanded="true">
								<i class="material-icons">home</i>
								
								<div class="ripple-container"></div>
							</a>
						</li>

						<li class="">
							<a href="#tv" data-toggle="tab" aria-expanded="true">
								<i class="material-icons">personal_video</i>
								
								<div class="ripple-container"></div>
							</a>
						</li>

						<li class="">
							<a href="#tv2" data-toggle="tab" aria-expanded="true">
								<i class="material-icons">wc</i>
								
								<div class="ripple-container"></div>
							</a>
						</li>

						<li class="">
							<a href="#lights" data-toggle="tab" aria-expanded="true">
								<i class="material-icons">toggle_on</i>
								
								<div class="ripple-container"></div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="content">
			<!-- <div>Debug</div>
				<% remotes.forEach(function(c) { %>
				<div>
					<%= c.groupName %>
				</div>
				<% }); %> -->

			<div class="tab-content text-center">

				<div class="tab-pane active" id="general">
				<p>
					<span class="badge badge-pill badge-default time" id="004:029"><i class="material-icons">timer</i></span><button class="btn btn-default btn-large" id="004:029"><i class="material-icons">power</i> Ac Cold On</button>
					<span class="badge badge-pill badge-default time" id="004:035"><i class="material-icons">timer</i></span><button class="btn btn-default btn-large" id="004:035"><i class="material-icons">power</i> Ac Heat On</button>
					<span class="badge badge-pill badge-default time" id="004:030"><i class="material-icons">timer</i></span><button class="btn btn-default btn-large" id="004:030"><i class="material-icons">power_off</i> Ac Off</button>
					
					</p>
					<button class="btn btn-default btn-large" id="lightson"><i class="material-icons">blur_on</i> Lights on</button>
					<button class="btn btn-default btn-large" id="lightsoff"><i class="material-icons">blur_off</i> Lights off</button>
					<p>
					<button class="btn btn-default btn-large" id="004:033"><i class="material-icons">pets</i> Lamp On</button>
					<button class="btn btn-default btn-large" id="004:034"><i class="material-icons">flare</i> Lamp light</button>
					<button class="btn btn-default btn-large" id="004:032"><i class="material-icons">flash_off</i> Lamp off</button>
					</p>
			
					
					<p><button class="btn btn-default btn-large" id="004:003"><i class="material-icons">live_tv</i> Tv</button></p>
				
					<p>
					<button class="btn btn-default btn-large" id="004:026"><i class="material-icons">blur_on</i> Env light</button>
					<button class="btn btn-default btn-large" id="004:027"><i class="material-icons">color_lens</i> Env color</button>
					<button class="btn btn-default btn-large" id="004:025"><i class="material-icons">blur_off</i> Env off</button>
					</p>
					


					<p><button class="btn btn-default btn-large" id="004:031">Clear Ac</button></p>
				</div>

				<div class="tab-pane" id="tv">
					<p><button class="btn btn-default btn-large" id="004:003"><i class="material-icons">tv_off</i> On/Off</button></p>
					<p><button class="btn btn-default btn-round" id="004:013"><i class="material-icons">expand_less</i> </button></p>
					<p><button class="btn btn-default btn-round" id="004:010"><i class="material-icons">chevron_left</i> </button><button class="btn btn-default btn-large" id="004:008"><i class="material-icons">subdirectory_arrow_right</i> </button><button class="btn btn-default btn-round" id="004:011"><i class="material-icons">chevron_right</i> </button></p>
					<p><button class="btn btn-default btn-round" id="004:012"><i class="material-icons">expand_more</i> </button></p>
					<p><button class="btn btn-default btn-round" id="004:009"><i class="material-icons">keyboard_return</i> </button></p>
					<br>
					<p><button class="btn btn-default btn-large" id="004:004"><i class="material-icons">volume_up</i> Vol+</button><button class="btn btn-default btn-large" id="004:005"><i class="material-icons">volume_down</i> Vol-</button></p>
					<p><button class="btn btn-default btn-large" id="004:023"><i class="material-icons">volume_off</i> Mute</button></p>
					<p><button class="btn btn-default btn-large" id="004:006"><i class="material-icons">menu</i> Source</button></p>
					
				</div>
				<div class="tab-pane" id="tv2">

					<p><button class="btn btn-default btn-large" id="005:002"><i class="material-icons">blur_on</i> Lights On</button><button class="btn btn-default btn-large" id="005:005"><i class="material-icons">blur_off</i> Lights off</button><button class="btn btn-default btn-large" id="005:003"><i class="material-icons">toys</i> Fan High</button><button class="btn btn-default btn-large" id="005:004"><i class="material-icons">toys</i> Fan Off</button></p>
					<p><button class="btn btn-default btn-large" id="005:022"><i class="material-icons">power</i> Ac On</button><button class="btn btn-default btn-large" id="005:023"><i class="material-icons">power_off</i> AC off</button><button class="btn btn-default btn-large" id="005:024"><i class="material-icons">ac_unit</i> COLD</button><button class="btn btn-default btn-large" id="005:025"><i class="material-icons">wb_sunny</i> WARM</button></p>


					<p><button class="btn btn-default btn-large" id="005:008"><i class="material-icons">tv_off</i> On/Off</button></p>
					
					<br>
					<p><button class="btn btn-default btn-large" id="005:006"><i class="material-icons">volume_up</i> Vol+</button><button class="btn btn-default btn-large" id="005:007"><i class="material-icons">volume_down</i> Vol-</button></p>
					<p><button class="btn btn-default btn-large" id="005:018"><i class="material-icons">volume_off</i> Mute</button></p>
					<p><button class="btn btn-default btn-large" id="005:019"><i class="material-icons">menu</i> Menu</button></p>
					
					<br>
					<p><button class="btn btn-default btn-round" id="005:011"><i class="material-icons">expand_less</i> </button></p>
					<p><button class="btn btn-default btn-round" id="005:009"><i class="material-icons">chevron_left</i> </button><button class="btn btn-default btn-large" id="005:014"><i class="material-icons">subdirectory_arrow_right</i> </button><button class="btn btn-default btn-round" id="005:010"><i class="material-icons">chevron_right</i> </button></p>
					<p><button class="btn btn-default btn-round" id="005:012"><i class="material-icons">expand_more</i> </button></p>
					<p><button class="btn btn-default btn-round" id="005:015"><i class="material-icons">keyboard_return</i> </button></p>
					<br>
					<p><button class="btn btn-default btn-large" id="005:017"><i class="material-icons">play_arrow</i> PLAY/PAUSE</button></p>
					<p><button class="btn btn-default btn-large" id="005:020"><i class="material-icons">skip_previous</i> Left</button><button class="btn btn-default btn-large" id="005:021"><i class="material-icons">skip_next</i> Right</button></p>
					<p><button class="btn btn-default btn-large" id="005:016"><i class="material-icons">stop</i> Stop</button></p>
				
				</div>
				<div class="tab-pane" id="lights">
					<p>
						<div class="togglebutton">
							<label>
								<br>
								<input type="checkbox" checked="">
								<span class="toggle"></span>
							</label>
							<p>
								<!-- <button class="btn btn-default btn-large" id="007:010">S4</button> -->
								Center Living Room
						</div>

						<button class="btn btn-default btn-large" id="007:004">S1</button>
						<button class="btn btn-default btn-large" id="007:007">S2</button>
						<button class="btn btn-default btn-large" id="007:013">S3</button>
					</p>
					<br>
					<button class="btn btn-default btn-large" id="007:002">S1 ON</button>
					<button class="btn btn-default btn-large" id="007:005">S2 ON</button>
					<button class="btn btn-default btn-large" id="007:011">S3 ON</button>
					<br>
					<button class="btn btn-default btn-large" id="007:003">S1 OFF</button>
					<button class="btn btn-default btn-large" id="007:006">S2 OFF</button>
					<button class="btn btn-default btn-large" id="007:012">S3 OFF</button>
					</p>
				</div>
				

			</div>
		</div>
	</div>

	<!-- *********************************************************	 -->




</div>

<!-- Example row of columns -->


<hr>

<footer>
	<p>&copy; SmartHome</p>
</footer>

</div>
<!-- /container -->