<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"><%= title %></a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>SmartHome</h1>
	<hr>

	<!-- <button class="btn btn-primary">Default<div class="ripple-container"></div></button> -->
<!-- *********************************************************	 -->
<div class="card card-nav-tabs">
							<div class="header header-success">
								<!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
								<div class="nav-tabs-navigation">
									<div class="nav-tabs-wrapper">
										<ul class="nav nav-tabs" data-tabs="tabs">
											<li class="active">
												<a href="#profile" data-toggle="tab" aria-expanded="true">
													<i class="material-icons">face</i>
													Shades Living Rooom
												<div class="ripple-container"></div></a>
											</li>
											<li class="">
												<a href="#messages" data-toggle="tab" aria-expanded="false">
													<i class="material-icons">chat</i>
													Lights Living Room
												<div class="ripple-container"></div></a>
											</li>
											<li class="">
												<a href="#settings" data-toggle="tab" aria-expanded="false">
													<i class="material-icons">build</i>
													Settings
												<div class="ripple-container"></div></a>

											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="content">
								<div class="tab-content text-center">
									<div class="tab-pane active" id="profile">
										<p> 

  <button class="btn btn-primary btn-large" id="002:000">Stop</button>
	  <button class="btn btn-primary btn-large" id="002:001">Move Up</button>
          <button class="btn btn-primary btn-large" id="002:002">Move Down</button>
	<button class="btn btn-primary btn-large" id="002:003">Reset</button>


										</p>
									</div>
									<div class="tab-pane" id="messages">
										<p> 
											<div class="togglebutton">
										            	<label>
									                	<input type="checkbox" checked=""><span class="toggle"></span>
													Center Living Room
										            	</label>
										            </div>
										</p>
									</div>
									<div class="tab-pane" id="settings">
										<p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
									</div>
								</div>
							</div>
						</div>

<!-- *********************************************************	 -->

    <p>Shades Living Room</p>
	<hr>
	<div class="row">
	  <button class="btn btn-primary btn-large" id="002:000">Stop</button>
	  <button class="btn btn-primary btn-large" id="002:001">Move Up</button>
          <button class="btn btn-primary btn-large" id="002:002">Move Down</button>
	<button class="btn btn-primary btn-large" id="002:003">Reset</button>

	</div>
	
	
  </div>

  </div>

  <!-- Example row of columns -->
 

  <hr>

  <footer>
    <p>&copy; SmartHome</p>
  </footer>

</div> <!-- /container -->